<footer class="footer">

    <section class="flex">
 
       <div class="box">
          <a href="tel:2521119"><i class="fa-solid fa-phone" style="color: #3ddb6d;"></i><span>(0734) 2521119</span></a>
          <a href="tel:9755900273"><i class="fa-solid fa-phone" style="color: #3ddb6d;"></i><span>9755900273</span></a>
          <a href="realestate010100@gmail.com"><i class="fa-solid fa-envelope" style="color: #c58920;"></i><span>realestate010100@gmail.com</span></a>
          <a href="#"><i class="fa-solid fa-location-dot" style="color: #da0b0b;"></i><span>Bhopal, India - 462022</span></a>
       </div>
 
       <div class="box">
          <a href="/home"><span>Home</span></a>
          <a href="/home/about"><span>About</span></a>
          <a href="/home/contactUs"><span>Contact</span></a>
          <a href="/home/listings"><span>All Listings</span></a>
          <a href="#"><span>Wish List</span></a>
       </div>
 
       <div class="box">
          <a href="#"><span>Facebook</span><i class="fa-brands fa-facebook" style="color: #278edd;"></i></a>
          <a href="#"><span>Instagram</span><i class="fa-brands fa-instagram" style="color: #e5e8eb;"></i></a>
          <a href="#"><span>Twitter</span><i class="fa-brands fa-x-twitter" style="color: #464749;"></i></a>
          <a href="#"><span>Linkedin</span><i class="fa-brands fa-linkedin" style="color: #096db9;"></i></a>
          
 
       </div>
 
    </section>
 
    <div class="credit">&copy; Copyright @ 2024 by <span>NobelNest</span> | All Rights Reserved!</div>
 
 </footer>