<% layout("layouts/boilerplate") %>

<body>
    <section class="about">

        <div class="row">
           <div class="image">
              <img src="https://res.cloudinary.com/dwzzzllfr/image/upload/v1732134323/about-img_qalqfa.svg" alt="#">
           </div>
           <div class="content">
              <h3>Why choose us?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorem provident voluptatum distinctio laborum veritatis vitae suscipit praesentium fugiat unde?</p>
              <a href="/home/contactUs" class="inline-btn">contact us</a>
           </div>
        </div>
     
     </section>
     
     <!-- about section ends -->
     
     <!-- steps section starts  -->
     
     <section class="steps">
     
        <h1 class="heading">3 Simple steps</h1>
     
        <div class="box-container">
     
         <a href="/home/choise" class="anchor">
            <div class="box">
               <img src="https://res.cloudinary.com/dwzzzllfr/image/upload/v1732134711/step-1_odbm1q.png" alt="">
               <h3>Search Property</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat.</p>
            </div>
         </a>

         <a href="/home/contactUs" class="anchor">
            <div class="box">
               <img src="https://res.cloudinary.com/dwzzzllfr/image/upload/v1732134711/step-2_dzumfx.png" alt="">
               <h3>Contact Agents</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat.</p>
            </div>
           </a>

           <a href="/home" class="anchor">
            <div class="box">
               <img src="https://res.cloudinary.com/dwzzzllfr/image/upload/v1732134711/step-3_rcbyvf.png" alt="">
               <h3>Enjoy Property</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, placeat.</p>
            </div>
           </a>
     
        </div>
     
     </section>
     
     <!-- steps section ends -->
     
     <!-- review section starts  -->
     
     <section class="reviews">
     
        <h1 class="heading">Client's Reviews</h1>
     
        <div class="box-container">
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-1.png" alt="">
                 <div>
                    <h3>john deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-2.png" alt="">
                 <div>
                    <h3>John Deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-3.png" alt="">
                 <div>
                    <h3>John Deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-4.png" alt="">
                 <div>
                    <h3>John Deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-5.png" alt="">
                 <div>
                    <h3>John Deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
           <div class="box">
              <div class="user">
                 <img src="images/pic-6.png" alt="">
                 <div>
                    <h3>john Deo</h3>
                    <div class="stars">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                    </div>
                 </div>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci voluptates delectus distinctio quam sequi error eum suscipit tempore inventore ex!</p>
           </div>
     
        </div>
     
     </section>
</body>
