<% layout("layouts/boilerplate") %>

<body>
    <section class="filters" style="padding-bottom: 0;">

        <form action="/home/search" method="post">
           <div id="close-filter"><i class="fas fa-times"></i></div>
           <h3>filter your search</h3>
              
              <div class="flex">
                 <div class="box">
                    <p>Enter Location</p>
                    <input type="text" name="location" required maxlength="50" placeholder="enter city name" class="input">
                 </div>
                 <div class="box">
                    <p>Offer type</p>
                    <select name="offer" class="input" required>
                       <option value="sale">Sale</option>
                       <option value="rent">Rent</option>
                    </select>
                 </div>
                 <div class="box">
                    <p>Property type</p>
                    <select name="property_type" class="input" required>
                     <option value="">Select Type</option>
                     <option value="Flats">Flats</option>
                     <option value="Apartment">Apartment</option>
                     <option value="House">House</option>
                     <option value="Shops&Malls">Shops & Malls</option>
                     <option value="Villa">Villa</option>
                     <option value="Independent-house">Independent House</option>
                     <option value="Bungloo">Bungloo</option>
                     <option value="Buildings">Buildings</option>
                       
                    </select>
                 </div>
                 <div class="box">
                    <p>How many BHK</p>
                    <select name="bhk" class="input" required>
                       <option value="1">1 BHK</option>
                       <option value="2">2 BHK</option>
                       <option value="3">3 BHK</option>
                       <option value="4">4 BHK</option>
                       <option value="5">5 BHK</option>
                       <option value="6">6 BHK</option>
                    </select>
                 </div>
                 <div class="box">
                    <p>Minimum Budget</p>
                    <select name="min_budget" class="input" required>
                       <option value="500000">5 lac</option>
                       <option value="1000000">10 lac</option>
                       <option value="2000000">20 lac</option>
                       <option value="3000000">30 lac</option>
                       <option value="4000000">40 lac</option>
                       <option value="4000000">40 lac</option>
                       <option value="5000000">50 lac</option>
                       <option value="6000000">60 lac</option>
                       <option value="7000000">70 lac</option>
                       <option value="8000000">80 lac</option>
                       <option value="9000000">90 lac</option>
                       <option value="10000000">1 Cr</option>
                       <option value="20000000">2 Cr</option>
                       <option value="30000000">3 Cr</option>
                       <option value="40000000">4 Cr</option>
                       <option value="50000000">5 Cr</option>
                       <option value="60000000">6 Cr</option>
                       <option value="70000000">7 Cr</option>
                       <option value="80000000">8 Cr</option>
                       <option value="90000000">9 Cr</option>
                       <option value="100000000">10 Cr</option>
                       <option value="150000000">15 Cr</option>
                       <option value="200000000">20 Cr</option>
                    </select>
                 </div>
                 <div class="box">
                    <p>Maximum Budget</p>
                    <select name="max_budget" class="input" required>
                       <option value="5000000">5 lac</option>
                       <option value="1000000">10 lac</option>
                       <option value="2000000">20 lac</option>
                       <option value="3000000">30 lac</option>
                       <option value="4000000">40 lac</option>
                       <option value="4000000">40 lac</option>
                       <option value="5000000">50 lac</option>
                       <option value="6000000">60 lac</option>
                       <option value="7000000">70 lac</option>
                       <option value="8000000">80 lac</option>
                       <option value="9000000">90 lac</option>
                       <option value="10000000">1 Cr</option>
                       <option value="20000000">2 Cr</option>
                       <option value="30000000">3 Cr</option>
                       <option value="40000000">4 Cr</option>
                       <option value="50000000">5 Cr</option>
                       <option value="60000000">6 Cr</option>
                       <option value="70000000">7 Cr</option>
                       <option value="80000000">8 Cr</option>
                       <option value="90000000">9 Cr</option>
                       <option value="100000000">10 Cr</option>
                       <option value="150000000">15 Cr</option>
                       <option value="200000000">20 Cr</option>
                    </select>
                 </div>
                 <div class="box">
                    <p>Status</p>
                    <select name="status" class="input" required>
                       <option value="ready to move">ready to move</option>
                       <option value="under construction">under construction</option>
                    </select>
                 </div>
                 <div class="box">
                    <p>Furnished</p>
                    <select name="furnished" class="input" required>
                       <option value="unfurnished">Unfurnished</option>
                       <option value="furnished">Fully Furnished</option>
                       <option value="semi-furnished">Semi-furnished</option>
                    </select>
                 </div>
              </div>
              <input type="submit" value="search property" name="search" class="btn">
        </form>
     
     </section>
</body>