<% layout("layouts/boilerplate", { excludeFooter: true }) %>

<section class="form-container">

    <form method="POST" action="/home/user/login">
       <h3>Welcome back!</h3>
       <input type="text" name="username" maxlength="50" placeholder="@Username" class="box" required>
       <input type="password" name="password" maxlength="20" placeholder="enter your password" class="box">
       <p>Don't have an account? <a href="/home/user/signup">Sign Up</a></p>
       <button class="btn">Log In</button>
    </form>

</section>
